/* scrollbar css */

.hide-scrollbar {
    scrollbar-width: none;
    /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Edge */
}






/* HTML: <div class="loader"></div>
.loader {
    width: 50px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 3px #000000 inset;
    border-radius: 50%;
    position: relative;
    animation: l11 7s infinite;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: calc(100% + 3px);
    left: calc(50% - 12.5px);
    box-shadow: inherit;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    transform-origin: 50% -28px;
    animation: l11 1.5s infinite;
}

.loader:after {
    animation-delay: -0.75s;
}

@keyframes l11 {
    100% {
        transform: rotate(360deg);
    }
} */